{{!-- new-vehicle --}}
<div class="form">
	{{view 'autosave-text-area'
	  nameBinding='view.vehicle.name'
	  typeBinding='view.vehicle.type' 
	  brandBinding='view.vehicle.brand' 
	  modelBinding='view.vehicle.model' 
	  }}
</div>