{{!-- new-vehicle --}}
<div class="form">
	{{view 'autosave-text-area'
	  nameBinding='view.vehicle.name'
	  kindBinding='view.vehicle.kind' 
	  brandBinding='view.vehicle.brand' 
	  carModelBinding='view.vehicle.car_model' 
	  }}
</div>