

<div class="row">
  <div class="large-4 columns">
    <h3>My registered vehicles</h3>
    <ul class="side-nav" role="navigation" title="Véhicules enregistrés">
      {{#link-to 'vehicles.index' class="button"}}Nouveau véhicule{{/link-to}}
      {{#each vehicle in model}}
        <li role="menuitem">
          <a>
            {{#link-to 'vehicles.show' vehicle}} 
              {{vehicle.name}}{{ vehicle.brand}} {{vehicle.carModel}}
            {{/link-to}}
          </a>
        </li>   
      {{/each}}
    </ul>
  
  </div>
  <div class="large-8 columns">
    {{outlet}}
  </div>
</div>
