<h1>Edit a vehicle</h1>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <form>
        <h3>You</h3>
        Nickname of your vehicle: {{view 'autosave-text-field' nameBinding='name'}}<br>
        Type: {{view 'autosave-text-field' kindBinding='kind'}}<br>
        Brand: {{view 'autosave-text-field' modelBinding='model'}}<br>
        Model: {{view 'autosave-text-field' car_modelBinding='email'}}<br>
      </form>
    </div>
  </div>
</div>