<h1>Your vehicle</h1>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <form>
        Nickname of your vehicle: {{view 'autosave-text-field' valueBinding='name'}}<br>
        Type: {{view 'autosave-text-field' valueBinding='kind'}}<br>
        Brand: {{view 'autosave-text-field' valueBinding='brand'}}<br>
        Model: {{view 'autosave-text-field' valueBinding='carModel'}}<br>
      </form>
    </div>
  </div>
</div>